name: Nightly-Build
on:
  schedule:
    - cron: '0 0 * * *'
     
## This Action will run every day at 12:00 AM UTC and keep Nightly-Build up to date with the latest changes in the repository.
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Branch
      uses: actions/checkout@v2
      with:
        ref: dev
        fetch-depth: 0
        token: ${{ secrets.PIPELINE_ADMIN }}
    - name: Force Update Nightly Build Branch with Dev
      id: createBranch
      run: |
        set -e
        git config --local user.email "azfuncgh@github.com"
        git config --local user.name "Azure Functions"
        git push origin nightly-build --force
      env:
        GITHUB_TOKEN: ${{ secrets.PIPELINE_ADMIN }}